.movies {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    margin-top: 40px;
    justify-content: center;
}

.peliculas {
    display: block;
    margin-top: 10px;
    img{
        height: 250px;
        margin-right: 10px;
    }
}

