<div class="header">
    <nav>
        <ul>
            <li><a href="#"><span ><p>inicio</p></span></a></li><!-- class="logo-header" -->
            <!-- <li><a routerLink="" routerLinkActive="active-link">inicio</a></li> -->
            <li><a routerLink="/display" routerLinkActive="active-link">peliculas</a></li>
            <li><a routerLink="/search" routerLinkActive="active-link">buscador</a></li>
            
           <!--  <li><input type="text" name="" id="" placeholder="INTRODUCE TU PELICULA" (keyup)="buscaTitulo($event)"></li> -->
        </ul>
        <ul>
            <!-- <li><a routerLink="/login" routerLinkActive="active-link">Login</a></li>
            <li><a routerLink="/signup" routerLinkActive="active-link">Signup</a></li> -->
            <div class="guestZone" *ngIf="!getUser()">
                <li><a routerLink="/login" routerLinkActive="active-link">Login</a></li>
                <li><a routerLink="/signup" routerLinkActive="active-link">Signup</a></li>
            </div>
            <div class="userZone" *ngIf="getUser() as user">
                <li><a routerLink="/profile" routerLinkActive="active-link">{{user.name || user.email}}</a></li>
                <li class="pointer"><a (click)="logout()" routerLinkActive="active-link">Logout</a></li>
            </div>
        </ul> 
        
    </nav>
    
    
    
</div>