<app-header></app-header>
<h3 class="titulo-form">Alquila tu película indicando la fecha de entrada y devolución de tu película</h3>
<form class="caja"> <!-- #rentForm="ngForm" (submit)="createOrder(orderForm)" -->
    <div class="" >
      <div class="">
        <label for="inputEmail4">Nombre:</label>
         <!-- <p>{{user.name}}</p> -->
      </div>
    </div>
    <div class="">
      <label for="inputAddress">Película:</label>
       <!-- <p>{{movie.title}}</p>  -->
    </div>
    <div class="">
      <label for="inputAddress2">Día de alquiler:  </label>
      <input type="date" class="" id="inputAddress2">
    </div>
    <div class="">
      <div class="">
        <label for="inputCity">Fecha de devolución:  </label>
        <input type="date" class="" id="inputCity">
      </div>
      
    </div>
    
    <button type="submit" class="btn-form" >Alquilar</button><!-- (click)="createOrder()"  -->
  </form>
