.guestZone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(181, 242, 250);
    height: 8vh;
}

.guestZone span:hover {
    cursor: pointer;
    padding: 0.5em;
    background-color: rgb(121, 228, 255);
    transition: all 0.5s;
}